<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_demo.mapper.EmployeeMapper">
    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="id">
        insert into emp (username, password, gender, phone, job, salary, entry_date,
                         create_time, update_time, image, dept_id)
        value (#{username}, #{password}, #{gender}, #{phone}, #{job}, #{salary},
               #{entryDate}, #{createTime}, #{updateTime}, #{image}, #{deptId})
    </insert>

    <delete id="deleteEmployees">
        delete from emp
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getEmployees" resultType="com.example.springboot_demo.pojo.Employee">
        select e.*, dept.name as deptName
        from emp e join dept on e.dept_id = dept.id
        order by entry_date desc
        <where>
            <if test = "name !=null and name != ''">
                e.name like concat('%', #{name}, '%') # 使用参数化会变成%?%全占位符
            </if>
            <if test = "gender != null">
                and gender = #{gender}
            </if>
            <if test = "start != null and end != null">
                and entry_date between #{start} and #{end}
            </if>
        </where>
    </select>

    <select id="getEmployeeById" resultMap="selectEmployeeResultMap">
        select e.*, dept.name as deptName,
               ee.id ee_id,
               ee.emp_id ee_empId,
               ee.company ee_company,
               ee.job ee_job,
               ee.start ee_start,
               ee.end ee_end
        from emp e
        join dept on e.dept_id = dept.id
        left join emp_expr ee on e.id = ee.emp_id
        where e.id = #{id}
    </select>

    <resultMap id="selectEmployeeResultMap"
               type="com.example.springboot_demo.pojo.Employee">
        <!--员工基本信息-->
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="entryDate" column="entry_date"/>
        <result property="image" column="image"/>
        <result property="deptName" column="deptName"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptId" column="dept_id"/>

        <!--员工工作经历信息-->
        <collection property="exprList"
                    ofType="com.example.springboot_demo.pojo.EmpExpr">
            <id property="id" column="ee_id"/>
            <result property="empId" column="ee_empId"/>
            <result property="company" column="ee_company"/>
            <result property="job" column="ee_job"/>
            <result property="start" column="ee_start"/>
            <result property="end" column="ee_end"/>
        </collection>
    </resultMap>
</mapper>